{{#if this.isDebug}}
  <div class="debug">
    {{!-- Seconds after midnight between 9AM and 7PM --}}
    <input
      type="range"
      min="32400"
      max="68400"
      step="60"
      value={{this.secondsInDay}}
      {{on "input" (action (mut this.secondsInDay) value="target.value")}}
    >
    <div>{{this.now}}</div>
  </div>
{{/if}}

{{#each this.days as |day index|}}
  <ConferenceDay
    @day={{day}}
    @index={{index}}
    @now={{this.now}}
  />
{{/each}}

<div class="github">
  <a href="https://github.com/Addepar/emberconf-schedule-2019" target="_blank" rel="noopener" aria-label="GitHub">
    <Icons::Github />
    <strong>Curious what's going on here?</strong>
    Check out the code on GitHub!
  </a>
</div>
